// Base styling for the navbar
#mainNav {
  box-shadow: none;
  background-color: $bg-white-opacity;
  transition: background-color 0.2s ease;
  height:72px;
  .navbar-brand {
    font-family: $default-font-family-1-LIGHT;

    color: $gray-900;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $black;
        font-family: $default-font-family-1-LIGHT;

        font-size: 18px;
        padding: 0.75rem 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-right:  1px solid $black;
        &:hover,
        &:active {
          color: $black;
        }
        &.active {
          color: $black !important;
          font-family: $default-font-family-1-BOLD;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    // Base styling for the navbar - screen sizes greater than the large breakpoint
    box-shadow: none;
    background-color: $header-transparent-bg;
    .navbar-brand {
      color: fade-out($black, .3);
      &:hover {
        color: $black;
        background-color:transparent;
      }
    }
    .navbar-light {
      .navbar-toggler {
        border-radius: 0px!important;
        border-color:transparent;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: fade-out($black, .3);
          padding: 0 10px;
          &:hover {
            color: $black;
          }
        }
        &:last-child {
          .nav-link {
            padding-right: 0;
            border-right:0;
            background-color:transparent;
          }
        }
      }
    }
    // Navbar styling applied when the page is scrolled
    &.navbar-scrolled {
      box-shadow: none;
      background-color: $header-transparent-bg;
      .navbar-brand {
        color: $gray-900;
        &:hover {
          color: $primary;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $gray-900;
            &:hover {
              color: $black;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {

    box-shadow: none;
    background-color: $bg-white-opacity;

    .navbar-brand {
      color: fade-out($black, .3);
      &:hover {
        color: $black;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: fade-out($black, .3);
          padding: 15px 0;
          border-right:0;
          border-bottom: 1px solid $black;
          &:hover {
            color: $black;
          }
        }
        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }
    // Navbar styling applied when the page is scrolled
    &.navbar-scrolled {
      box-shadow: none;
      background-color: $bg-white-opacity;
      border-bottom:none;
      .navbar-brand {
        color: $gray-900;
        &:hover {
          color: $primary;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $gray-900;
            &:hover {
              color: $black;
            }
          }
        }
      }
    }
  }
}
