// Variables

// Color overrides

// Set a custom color
$orange: #f4623a !default;
$brown: #5c4d42 !default;

// Set primary color to orange
$primary: $orange !default;
$navbar-hover-color: #000;

// Font overrides
$font-family-sans-serif: "NexaLight";
$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;

